<%- include('includes/head')%>
<body>

  <section class="container">
    <h1>  <%= title %><br>
           
        
    </h1>

  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>